/*-----------basic body----------*/
body {
    width: 100%;
    height: 100%;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
}





html {
    width: 100%;
    height: 100%;
}


.movieWrapper{
	margin: 0px 5% 0px 5%;
}


.maxWidthWrapper{
	max-width: 1500px;
}




h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    font-weight: 100;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #b4b4b4;
}

.light {
    font-weight: 400;
}




/*--backgournd image


background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;
background-color: #000;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;


---*/





/*-----------Nav------------*/







.navLogo{
	
	color: #b4b4b4;
	
}

/*----logo------*/



















.logoContainer{
	position: absolute;
	top: 10%;
	left: 3%;
}


@media(max-width: 768){
	.logoContainer{
		position: fixed;
		top: 10%;
		left: 3%;
		z-index: 50;
	}
	
	

}

.home{
	margin-top: -2px !important;
}



#logo {
	width: 35px;
	height: 35px;
	background:rgba(255, 255, 255, 0.5);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 6px 9px 10px 9px;
	
}

.logo2 {
	width: 35px;
	height: 35px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 6px 9px 10px 9px;
	
}
.ilogo2 {
	width: 35px;
	height: 35px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	padding: 6px 9px 10px 9px;
	
}


.logo2 > h3{
	color: #000;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
	

}

.ilogo2 > h3{
	color: #000;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
	

}


#logo > h3{
	color: #000;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
	

}



















/*------end logo Start Nav-------*/




















.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
  
   
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle{
    padding: 4px 6px;
    font-size: 16px;
}







.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
    color: #b4b4b4;
    
	.btn-group .dropdown-menu{
		background-color: #000;
	}
}

.navbar-custom a {
    color: #b4b4b4;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    
}

.navbar-custom .nav li a:hover {
    outline: 0;
/*    color: #b4b4b4;*/
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: #000;
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:992px) {
    .navbar-custom {
        padding: 10px;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse{
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
        color: #fff;
    }

   
}

.itemCount{
	color: red;
	font-family: Roboto, sans-serif;
}




@media(max-width:768px) {
	
	 .btn-group .dropdown-menu{
    	background-color: #000;
    }
}











/*--------------sections---------*/














.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
  
}

.intro .intro-body {

  
   
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}



#mainTitle{
	width: 80%;
	margin-top: 10%;
}

#mainTitleLogos{
	width: 80%;
	margin-top: 12%;
	margin-left: 5px;


	
}

.intro-text{
	margin-top: 20%;
}



.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
    #mainTitle{
		width: 100%;
		margin-top: 30%;
	}
	
	#mainTitleLogos{
		width: 90%;
		margin-top: 12%;
		margin-left: 5px;
	
	}
}






.content-section {
    padding-top: 100px;
    
 

}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 0px;
    }
}











/* ----------------buttons---------------------------- */












.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}












button > i {
    color: azure;
}








.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.btn-default {
    border: 1px solid transparent;
    color: #000;
    background-color: #b4b4b4;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #b4b4b4;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}




::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}












.btn-nav {
    border: 0px solid transparent;
    color: #b4b4b4;
    background-color: transparent !important;
    margin-top: 8px;
}











/*--------------------onesies-------------------*/





.nobrdr{
    border: 0px solid transparent;
}




smMargAll{
    margin: 5px;

}



.smargTop{
    margin-top: 2%;
}







/*--------------------components-------------------*/




.formDefault{
    border: 2px solid black;
    border-radius: 0;
    font-weight: 400;
}

.searchRow{
	margin-top: 50px;
}

.formNoBrdrSpacing {
	outline: none;
	 border: 2px solid black;
	margin: 0px 0px 15px 0px;
	
}


#searchBar{
    color: #b4b4b4;
    background:rgba(114, 111, 111, 0.2);
    border: 0px solid rgba(114, 111, 111, 0.2);
    outline: none; 
    border-radius: 0px;
    height: 28px;
    margin-left: 10px;
    
}


.btnSearch{
	background:rgba(114, 111, 111, 0.2);
	border: 0px solid rgba(114, 111, 111, 0.2);
    border-radius: 0px;
    outline: none; 
    height: 28px;
    width: 30px;
    padding: 0px 0px 0px 20px;
   
    
	
}

#searchIcon{
    font-size: 13px;
    color: #b4b4b4;
    margin-left: -18px;
   

}

.searchGroup{
	margin-right: 20px;
	margin-top: 10px;
}


/* .asdf{
	visibility: hidden;	
	margin-top: -500;
	
} */

#menu{
	margin-top: -3px;
}







/*------------Movie stuff----------*/








.movieImageThumbNail{
    height: 200px;
    width: 140px;
    background:  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 5px -10px;
	
}






.movieRow{
	margin-top: 100px;
}

.seeMore{
	margin: 0;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    color: #b4b4b4;
    font-size: 12px;

}
form > .moreMovies > h3 {
	margin: 0;
	
}





.movieImage{
	 max-height: 500px;
    background:  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 2px -10px;
	
}

.movieContent{
	margin-top: 15%;
	padding-top: 40px;
	
}

.movieInfo{
	margin-top: 5%;
	margin-bottom: 5%;
}





.dvdTitle{
	width: 140px;
	padding: 2px;
	font-size: 10px;
	
}







/*--------------Grub Stuff--------------*/

.grubPic{
	height: 200px;
    background:  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 5px 15px;
}




/*--------------Check out-------------------------*/


.checkOutInfo{
	
	margin-top: 5%;
}


.checkOutInfo>h4{
	margin: 0;
	padding: 0;
}

.checkOutItemTitle{
	margin-bottom: 5px;
	
}

.checkOutThumbNail{
	max-height: 150px;
    background:  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 5px -10px;
   
	
}



#finalCheckOutBox{
	
	height: 180px;
	background: #f4f4f4;
	bottom: 2px;
	padding: 20px;
	
	
}

#checkOutCheckBox{
	float: left;
}
#checkOutCheckBox > span{
	margin-bottom: 3px;
}

.placeOrderBtn{
	float: right:
	
}

#checkOutBottom{
	padding: 10px;
	margin-bottm: -20px;
}

#checkOutTotal{
	padding: 10px;
	float: right;
}








/* .itemButtons{
	

  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px dashed deeppink;


	
} */

.itemTitle{
	margin-top: 30%;
	margin-bottom: 40%;
}


.adminEditBtn {
	margin-top: 30%;
	margin-bottom: 40%;
}

.checkOutAmountContainer{
	margin-top: 6%;
	margin-bottom: 5%;
}


@media(max-width:768px){
	.adminEditBtn {
		margin-top: 10%;
		margin-bottom: 5%;
	}
	.itemTitle{
		margin-top: 2%;
		margin-bottom: 0;
	}
	.itemContainer{
		margin-left: 0px;
		margin-right: 0%;
	}
	.checkOutAmountContainer{
		margin-top: 0%;
		margin-bottom: 0%;
	}
	
}

.itemContainer{
	max-width: 800px;
	margin-left: 5%;
	margin-right: 5%;
}










/*-----------------------------progress bar-------------------------------------------*/






	.meter { 
		height: 20px;  /* Can be anything */
		position: relative;
		margin: 60px 0 20px 0; /* Just for demo spacing */
		background: #555;
		-moz-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
		padding: 10px;
		-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
		-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
		box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
	}
	.meter > span {
		display: block;
		height: 100%;
		-webkit-border-top-right-radius: 8px;
		-webkit-border-bottom-right-radius: 8px;
		-moz-border-radius-topright: 8px;
		-moz-border-radius-bottomright: 8px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-bottomleft: 20px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		background-color: rgb(43,194,83);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(43,194,83)),
			color-stop(1, rgb(84,240,84))
			);
		background-image: -moz-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
			);
		-webkit-box-shadow: 
		inset 0 2px 9px  rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
		-moz-box-shadow: 
		inset 0 2px 9px  rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
		box-shadow: 
		inset 0 2px 9px  rgba(255,255,255,0.3),
		inset 0 -2px 6px rgba(0,0,0,0.4);
		position: relative;
		overflow: hidden;
	}
	.meter > span:after, .animate > span > span {
		content: "";
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background-image: 
		-webkit-gradient(linear, 0 0, 100% 100%, 
			color-stop(.25, rgba(255, 255, 255, .2)), 
			color-stop(.25, transparent), color-stop(.5, transparent), 
			color-stop(.5, rgba(255, 255, 255, .2)), 
			color-stop(.75, rgba(255, 255, 255, .2)), 
			color-stop(.75, transparent), to(transparent)
			);
		background-image: 
		-moz-linear-gradient(
			-45deg, 
			rgba(255, 255, 255, .2) 25%, 
			transparent 25%, 
			transparent 50%, 
			rgba(255, 255, 255, .2) 50%, 
			rgba(255, 255, 255, .2) 75%, 
			transparent 75%, 
			transparent
			);
		z-index: 1;
		-webkit-background-size: 50px 50px;
		-moz-background-size: 50px 50px;
		-webkit-animation: move 2s linear infinite;
		-webkit-border-top-right-radius: 8px;
		-webkit-border-bottom-right-radius: 8px;
		-moz-border-radius-topright: 8px;
		-moz-border-radius-bottomright: 8px;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		-moz-border-radius-topleft: 20px;
		-moz-border-radius-bottomleft: 20px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		overflow: hidden;
	}
	
	.animate > span:after {
		display: none;
	}
	
	@-webkit-keyframes move {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: 50px 50px;
		}
	}
	
	.orange > span {
		background-color: #f1a165;
		background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
		background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
	}
	
	.red > span {
		background-color: #f0a3a3;
		background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
		background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
	}
	
	.nostripes > span > span, .nostripes > span:after {
		-webkit-animation: none;
		background-image: none;
	}








/*----------------Account-Forms----SignUp-Forms---------------------------*/











/*--------------------css--progress-bar--------------------------*/


#progressbar {
    width: 100%;
    height: 15px;
    background-color: #eee;
    padding: 2px;
    margin: .6em 0;
    border: 1px #000 double;
    clear: both;
}

#progress {
    background: #c0221a; /*-- Color of the bar --*/
    height: 15px;
    width: 0%;
    max-width: 100%;
    float: left;
    -webkit-animation: progress 2s 1 forwards;
    -moz-animation: progress 2s 1 forwards;
    -ms-animation: progress 2s 1 forwards;
    animation: progress 2s 1 forwards;
}

#pbaranim {
    height: 15px;
    width: 100%;
    overflow: hidden;
    background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

@-webkit-keyframes progress { 
    from { }

    to { width: 36% }
}

@-moz-keyframes progress { 
    from { }

    to { width: 36% }
}

@-ms-keyframes progress { 
    from { }

    to { width: 36% }
}

@keyframes progress { 
    from { }

    to { width: 36% }
}















